<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pagination Style</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Pagination Style -->
        <h5 class="text-bg-primary my-20">Pagination</h5>

        <nav aria-label="Page-navigation">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

        <!-- Pagination With Icon -->
        <h5 class="text-bg-primary my-20">Pagination Navigation With Icon</h5>

        <nav aria-label="Page-navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Pagination Disable -->
        <h5 class="text-bg-primary my-20">Pagination Navigation Disable</h5>

        <nav aria-label="Page-navigation">
            <ul class="pagination">
                <li class="page-item disable"><a class="page-link" href="#">Disable</a></li>
                <li class="page-item"><a class="page-link" href="#">one</a></li>
                <li class="page-item"><a class="page-link" href="#">two</a></li>
                <li class="page-item"><a class="page-link" href="#">three</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

        <!-- Pagination Center -->
        <h5 class="text-bg-primary my-20">Pagination Navigation Center</h5>

        <nav aria-label="Page-navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item disable"><a class="page-link" href="#">Disable</a></li>
                <li class="page-item"><a class="page-link" href="#">one</a></li>
                <li class="page-item"><a class="page-link" href="#">two</a></li>
                <li class="page-item"><a class="page-link" href="#">three</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </body>
</html>
