@use '../internal' as *;

/****************************
* Name: button
* Class: .btn
* Variants: primary, secondary
* Version: 0.0.1
* Since: 0.0.1
* Live Url: https://github.xirosoft.io/bee-ui/components/banner
*/

/*********************************
/* Banner Section Start
*********************************/
.banner__section {
	// background: rgba($primary, 0.08);
	background: #94c34714;
	position: relative;
	padding: rem(180px) 0 rem(160);
	z-index: 1;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		// background: url("./bg-shape.png");
        background: url('../../components/banner/image/bg-shape.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: -1;
	}

	@include mq(lg) {
		padding: rem(150px) 0;
	}
	@include mq(lg) {
		padding: rem(120px) 0;
	}
}
.hero__content {
	max-width: rem(575px);
	.hero {
		&__subtitle {
			font-family: $default;
			font-size: 18px;
			font-weight: $semibold;
			line-height: 25px;
			color: $primary;
			margin-bottom: 4px;
		}
		&__title {
			color: var(--bee-theme-dark);
			font-weight: $semibold;
			font-size: rem(46px);
			line-height: rem(56px);
			margin-bottom: 0;
		}
		&__desc {
			font-size: 16px;
			line-height: 26px;
			margin: 24px 0 0;
		}
		&__btn {
			margin-top: 40px;
		}
	}
}

.banner__image {
	aspect-ratio: 6.3/4;
	position: relative;
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
    
	@include mq(md) {
		max-width: 400px;
		margin: 0px auto 30px;
	}
	img {
		width: 100%;
		height: 100%;
	}
}
/*********************************
/* Banner Section End
*********************************/
