@use '../internal' as *;

/****************************
* Name: Image Box
* Class: .image-box
* variants: One,Two
* Version: 0.0.1
* Since: 0.0.1
* Live Url: https://xirosoft.com/bee-ui/components/image-box
*/

.image-box {
  padding: 8px 12px;
}

$prefix: 'image-box-';

$image-box-border-radius: 8px;
$image-box-padding: 8px;
$image-box-max-width: 320px;

.image-box {
  --#{$prefix}border-radius: #{$image-box-border-radius};
  --#{$prefix}padding: #{$image-box-padding};
  --#{$prefix}max-width: #{$image-box-max-width};

  font-family: $font-family;
  width: 100%;
  max-width: var(--#{$prefix}max-width);
  border: 1px solid #cdcdcd;
  border-radius: var(--#{$prefix}border-radius);

  &-header {
    img {
      width: 100%;
      border-radius: var(--#{$prefix}border-radius) var(--#{$prefix}border-radius) 0 0;
    }
  }

  &-content {
    padding: var(--#{$prefix}padding);
  }

  &-title {
    line-height: 1;
    margin: 0;

    a {
      text-decoration: none;
    }
  }
}