<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Checkbox Style</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- CheckBox Style -->
        <h5 class="text-bg-primary my-2">CheckBox</h5>

        <div class="form-check m-10">
            <input class="checkbox checkbox-primary" type="checkbox" checked />
            <input class="checkbox checkbox-secondary" type="checkbox" checked />
            <input class="checkbox checkbox-success" type="checkbox" checked />
            <input class="checkbox checkbox-info" type="checkbox" checked />
            <input class="checkbox checkbox-warning" type="checkbox" checked />
            <input class="checkbox checkbox-danger" type="checkbox" checked />
            <input class="checkbox checkbox-dark" type="checkbox" checked />
        </div>

        <!-- CheckBox Style -->
        <h5 class="text-bg-primary my-2">CheckBox Outline</h5>

        <div class="form-check m-10">
            <input class="checkbox checkbox-outline" id="check01" type="checkbox" checked />
            <label for="check01">CheckBox Outline</label>
        </div>
        <div class="form-check m-10">
            <input class="checkbox checkbox-outline" id="check02" type="checkbox" />
            <label for="check02">CheckBox Outline</label>
        </div>
        <div class="form-check m-10">
            <input class="checkbox checkbox-outline" id="check03" type="checkbox" />
            <label for="check03">CheckBox Outline</label>
        </div>

        <!-- CheckBox Style -->
        <h5 class="text-bg-primary my-2">CheckBox Outline Circle</h5>

        <div class="form-check m-10">
            <input class="checkbox checkbox-outline circle" id="check-circle-1" type="checkbox" checked />
            <label for="check-circle-1">CheckBox Outline Circle</label>
        </div>
        <div class="form-check m-10">
            <input class="checkbox checkbox-outline circle" id="check-circle-2" type="checkbox" />
            <label for="check-circle-2">CheckBox Outline Circle</label>
        </div>
        <div class="form-check m-10">
            <input class="checkbox checkbox-outline circle" id="check-circle-3" type="checkbox" />
            <label for="check-circle-3">CheckBox Outline Circle</label>
        </div>

        <!-- CheckBox Style -->
        <h5 class="text-bg-primary my-2">CheckBox Outline Filled</h5>

        <div class="form-check m-10">
            <input class="checkbox" id="check-filled-1" type="checkbox" checked />
            <label for="check-filled-1">CheckBox Outline</label>
        </div>
        <div class="form-check m-10">
            <input class="checkbox" id="check-filled-2" type="checkbox" />
            <label for="check-filled-2">CheckBox Outline</label>
        </div>
        <div class="form-check m-10">
            <input class="checkbox" id="check-filled-3" type="checkbox" />
            <label for="check-filled-3">CheckBox Outline</label>
        </div>

        <!-- CheckBox Style -->
        <h5 class="text-bg-primary my-2">CheckBox Filled</h5>

        <div class="form-check m-10">
            <input class="checkbox checkbox-primary" id="check-primary" type="checkbox" />
            <label for="check-primary">CheckBox Primary</label>
        </div>
        <div class="form-check m-10">
            <input class="checkbox checkbox-secondary" id="check-secondary" type="checkbox" />
            <label for="check-secondary">CheckBox Secondary</label>
        </div>
        <div class="form-check m-10">
            <input class="checkbox checkbox-success" id="check-success" type="checkbox" />
            <label for="check-success">CheckBox Success</label>
        </div>

        <!-- CheckBox Style -->
        <h5 class="text-bg-primary my-2">CheckBox Circle</h5>

        <div class="form-check m-10">
            <input class="checkbox circle" id="check-circle-fill-1" type="checkbox" />
            <label for="check-circle-fill-1">CheckBox Primary</label>
        </div>
        <div class="form-check m-10">
            <input class="checkbox circle" id="check-circle-fill-2" type="checkbox" />
            <label for="check-circle-fill-2">CheckBox Secondary</label>
        </div>
        <div class="form-check m-10">
            <input class="checkbox circle" id="check-circle-fill-3" type="checkbox" />
            <label for="check-circle-fill-3">CheckBox Success</label>
        </div>

        <!-- CheckBox Style -->
        <h5 class="text-bg-primary my-2">CheckBox Circle Filled</h5>

        <div class="form-check m-10">
            <input class="checkbox circle checkbox-primary" id="check-circle-01" type="checkbox" />
            <label for="check-circle-01">CheckBox Primary</label>
        </div>
        <div class="form-check m-10">
            <input class="checkbox circle checkbox-secondary" id="check-circle-02" type="checkbox" />
            <label for="check-circle-02">CheckBox Secondary</label>
        </div>
        <div class="form-check m-10">
            <input class="checkbox circle checkbox-success" id="check-circle-03" type="checkbox" />
            <label for="check-circle-03">CheckBox Success</label>
        </div>
    </body>
</html>
