<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IconBox Style</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Breadcrumb Start -->
        <div class="breadcrumbs py-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs__wrapper text-start">
                            <div class="breadcrumbs__content">
                                <h2>Icon Box</h2>
                                <p>Create beautiful information boxes using icons, links and texts, and make them slick using the built in positioning features</p>
                            </div>
                            <ul>
                                <li><a href="#">Documentation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End-->

        <!-- Design Start 01 -->
        <div class="heading__wrapper mb-50 text-center">
            <h4 class="mb-10">Design 1</h4>
            <p>Outline box with white background</p>
        </div>

        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="iconbox text-center">
                            <figure class="iconbox__icon">
                                <img src="image/responsive.png" alt="responsive" />
                            </figure>
                            <h4 class="iconbox__title">Create User</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="iconbox text-center">
                            <figure class="iconbox__icon">
                                <img src="image/responsive.png" alt="responsive" />
                            </figure>
                            <h4 class="iconbox__title">Create List</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="iconbox text-center">
                            <figure class="iconbox__icon">
                                <img src="image/responsive.png" alt="responsive" />
                            </figure>
                            <h4 class="iconbox__title">Engage Visitor</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Design Start 02 -->
        <div class="heading__wrapper my-50 text-center">
            <h4 class="mb-10">Design 2</h4>
            <p>Borderless background with different content color</p>
        </div>

        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="iconbox text-center text-bg-primary">
                            <figure class="iconbox__icon">
                                <img src="image/responsive-white.png" alt="responsive" />
                            </figure>
                            <div class="iconbox__body">
                                <h4 class="iconbox__title">Create User</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="iconbox text-center text-bg-warning">
                            <figure class="iconbox__icon">
                                <img src="image/responsive-white.png" alt="responsive" />
                            </figure>
                            <div class="iconbox__body">
                                <h4 class="iconbox__title">Create List</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="iconbox text-center text-bg-info">
                            <figure class="iconbox__icon">
                                <img src="image/responsive-white.png" alt="responsive" />
                            </figure>
                            <div class="iconbox__body">
                                <h4 class="iconbox__title">Engage Visitor</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Design Start 03 -->
        <div class="heading__wrapper my-50 text-center">
            <h4 class="mb-10">Design 3</h4>
            <p>Gradient background color</p>
        </div>

        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="iconbox text-center bg-gradient-indigo border-none">
                            <figure class="iconbox__icon">
                                <img src="image/responsive-white.png" alt="responsive" />
                            </figure>
                            <div class="iconbox__body">
                                <h4 class="iconbox__title">Create User</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="iconbox text-center bg-gradient-yellow border-none">
                            <figure class="iconbox__icon">
                                <img src="image/responsive-white.png" alt="responsive" />
                            </figure>
                            <div class="iconbox__body">
                                <h4 class="iconbox__title">Create List</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="iconbox text-center bg-gradient-blue border-none">
                            <figure class="iconbox__icon">
                                <img src="image/responsive-white.png" alt="responsive" />
                            </figure>
                            <div class="iconbox__body">
                                <h4 class="iconbox__title text-white">Engage Visitor</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
