/* BASE STYLING + RESET FOR BEE UI */
@use '../internal' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --bee-bg: #{$bee-bg};
}

/* RESET */
/* Box Sizing */
*,
*::before,
*::after {
    /* Prevent setting borders from increasing the size of an element */
    box-sizing: border-box;
    // Set defaults for border so they would show up when utils are used
    border: 0 solid currentColor;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

/* Remove default margin and padding */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
/******************************************
/* Google Fonts
*******************************************/ 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Allow % styles to work on page */
html,
body {
    border: none;
    height: 100%;
    font-size: $rem-unit; // define 1rem == 10px 
}

/* Nunito Sans for the font */
body {
    font-family: var(--bee-body-font-family);
    font-size:var(--bee-body-font-size);
    font-weight: var(--bee-body-font-weight);
    line-height: var(--bee-body-font-line-height);
    color: var(--bee-body-color);
    // letter-spacing: 0.01rem;
    /* Globally adjust line height */
}

/* Setting up embedded content */
audio,
canvas,
iframe,
img,
embed,
object,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

iframe {
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

// Selction Color
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: var(--bee-blue);
  }
  
  ::selection {
    color: #fff;
    background: var(--bee-blue);
  }

/* Page sections set to block */
article,
aside,
figure,
footer,
header,
hgroup,
section {
    display: block;
}

// Inputs must inherit font
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

button, select {
    text-transform: none;
}

/* Input  */
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

/* Base styling for labels */
label {
    display: inline-block;
}

/* Base styling for fieldsets */
fieldset {
    padding: 1rem;

    legend {
        font-weight: bold;
    }
}

/* Hidden elements must not show */
[hidden] {
    display: none !important;
}

/* When focusing any element */
:focus {
    box-shadow: none;
    outline: none;
}

/* Remove all animations based on preference */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

