<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Button</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <h1 class="text-bg-primary">Button</h1>

        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>

        <button type="button" class="btn btn-link">Link</button>

        <h1>Outline buttons</h1>

        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>

        <h1 class="d-block d-xs-none d-sm-block d-sm-none d-md-block d-lg-none d-xl-block d-xxl-none d-ratina-block">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia temporibus quaerat dolore quis quas ipsum error officiis, optio, sit debitis consequatur voluptatem
            possimus, dolor ad explicabo! Corporis sunt provident ad.
        </h1>

        <form action="#">
            <input type="text" name="f_name" placeholder="PlaceHolder" />
            <input type="text" name="l_name" placeholder="PlaceHolder" />
            <input type="email" name="email" placeholder="PlaceHolder" />
            <input type="file" name="" id="" placeholder="PlaceHolder" />
            <input type="submit" class="btn" value="Submit" />
        </form>
    </body>
</html>
