<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Button</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Button Lg -->
        <h5 class="text-bg-secondary my-2">Buttons Lg</h5>
        <button type="button" class="btn btn-lg btn-primary">Primary</button>
        <button type="button" class="btn btn-lg btn-secondary">Secondary</button>
        <button type="button" class="btn btn-lg btn-success">Success</button>
        <button type="button" class="btn btn-lg btn-danger">Danger</button>
        <button type="button" class="btn btn-lg btn-warning">Warning</button>
        <button type="button" class="btn btn-lg btn-info">Info</button>
        <button type="button" class="btn btn-lg btn-light">Light</button>
        <button type="button" class="btn btn-lg btn-dark">Dark</button>
        <a href="#" class="btn btn-link">Link</a>

        <!-- Button Main-->
        <h5 class="text-bg-secondary my-2">Button Main</h5>

        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <a href="#" class="btn btn-link">Link</a>

        <!-- Button Sm -->
        <h5 class="text-bg-secondary my-2">Buttons Sm</h5>

        <button type="button" class="btn btn-sm btn-primary">Primary</button>
        <button type="button" class="btn btn-sm btn-secondary">Secondary</button>
        <button type="button" class="btn btn-sm btn-success">Success</button>
        <button type="button" class="btn btn-sm btn-danger">Danger</button>
        <button type="button" class="btn btn-sm btn-warning">Warning</button>
        <button type="button" class="btn btn-sm btn-info">Info</button>
        <button type="button" class="btn btn-sm btn-light">Light</button>
        <button type="button" class="btn btn-sm btn-dark">Dark</button>
        <a href="#" class="btn btn-link">Link</a>

        <!-- Button Outline Lg -->
        <h5 class="text-bg-secondary mb-2 mt-10">Outline buttons Lg</h5>
        <button type="button" class="btn btn-lg btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-lg btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-lg btn-outline-success">Success</button>
        <button type="button" class="btn btn-lg btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-lg btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-lg btn-outline-info">Info</button>
        <button type="button" class="btn btn-lg btn-outline-light">Light</button>
        <button type="button" class="btn btn-lg btn-outline-dark">Dark</button>
        <a href="#" class="btn btn-link">Link</a>

        <!-- Button Outline -->
        <h5 class="text-bg-secondary my-2">Outline buttons Main</h5>

        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>

        <!-- Button Outline Sm -->
        <h5 class="text-bg-secondary my-2">Outline buttons Sm</h5>

        <button type="button" class="btn btn-sm btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-sm btn-outline-success">Success</button>
        <button type="button" class="btn btn-sm btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-sm btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-sm btn-outline-info">Info</button>
        <button type="button" class="btn btn-sm btn-outline-light">Light</button>
        <button type="button" class="btn btn-sm btn-outline-dark">Dark</button>
        <a href="#" class="btn btn-link">Link</a>

        <!-- <form action="#">
            <input type="text" name="f_name" placeholder="PlaceHolder" />
            <input type="text" name="l_name" placeholder="PlaceHolder" />
            <input type="email" name="email" placeholder="PlaceHolder" />
            <input type="file" name="" id="" placeholder="PlaceHolder" />
            <input type="submit" class="btn btn-primary" value="Submit" />
        </form> -->
    </body>
</html>
