<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Button</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <h5 class="text-bg-primary mb-2">Button</h5>

        <button type="button" class="btn btn-lg btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-sm btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <a href="#" class="btn btn-link">Link</a>

        <!-- Button Group -->
        <h5 class="text-bg-primary my-2">Button Group</h5>
        <div class="btn-group m-3">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
        </div>

        <!-- Button group Lg -->
        <h5 class="text-bg-primary my-2">Button Group Lg</h5>
        <div class="btn-group btn-group-lg m-3">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
        </div>

        <!-- Button group Sm -->
        <h5 class="text-bg-primary my-2">Button Group Sm</h5>
        <div class="btn-group btn-group-sm m-3">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
        </div>

        <!-- Button Outline -->
        <h5 class="text-bg-primary my-2">Outline buttons</h5>

        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>

        <!-- Button Outline Group -->
        <h5 class="text-bg-primary my-2">Button Outline Group</h5>

        <div class="btn-group m-3">
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
            <button type="button" class="btn btn-outline-success">Success</button>
            <button type="button" class="btn btn-outline-danger">Danger</button>
            <button type="button" class="btn btn-outline-warning">Warning</button>
            <button type="button" class="btn btn-outline-info">Info</button>
            <button type="button" class="btn btn-outline-light">Light</button>
            <button type="button" class="btn btn-outline-dark">Dark</button>
        </div>

        <!-- Button Outline Group Lg -->
        <h5 class="text-bg-primary my-2">Button Outline Group Lg</h5>
        <div class="btn-group btn-group-lg m-3">
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-primary">Secondary</button>
            <button type="button" class="btn btn-outline-primary">Success</button>
            <button type="button" class="btn btn-outline-primary">Danger</button>
            <button type="button" class="btn btn-outline-primary">Warning</button>
            <button type="button" class="btn btn-outline-primary">Info</button>
            <button type="button" class="btn btn-outline-primary">Light</button>
            <button type="button" class="btn btn-outline-primary">Dark</button>
        </div>

        <!-- Button Outline Group Sm -->
        <h5 class="text-bg-primary my-2">Button Outline Group Sm</h5>
        <div class="btn-group btn-group-sm m-3">
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-primary">Secondary</button>
            <button type="button" class="btn btn-outline-primary">Success</button>
            <button type="button" class="btn btn-outline-primary">Danger</button>
            <button type="button" class="btn btn-outline-primary">Warning</button>
            <button type="button" class="btn btn-outline-primary">Info</button>
            <button type="button" class="btn btn-outline-primary">Light</button>
            <button type="button" class="btn btn-outline-primary">Dark</button>
        </div>

        <form action="#">
            <input type="text" name="f_name" placeholder="PlaceHolder" />
            <input type="text" name="l_name" placeholder="PlaceHolder" />
            <input type="email" name="email" placeholder="PlaceHolder" />
            <input type="file" name="" id="" placeholder="PlaceHolder" />
            <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
    </body>
</html>
