<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>image-box - BeeComp</title>
  <link rel="stylesheet" href="../../dist/bee-core.min.css">
  <link rel="stylesheet" href="../../dist/components/image-box.css">
</head>

<body>
  <div class="image-box">
    <div class="image-box-header">
      <img src="image-box.webp" alt="image-box-header">
    </div>
    <div class="image-box-content">
      <h2 class="image-box-title"><a href="#">This is an <strong>image box</strong></a></h2>
      <div class="image-box-desc">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, debitis!</p>
      </div>
    </div>
  </div>
</body>

</html>