<!DOCTYPE html>
<html lang="en" class="darks">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Logo Grid Style</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Breadcrumb Start -->
        <div class="breadcrumbs py-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs__wrapper text-start">
                            <div class="breadcrumbs__content">
                                <h2>Logo Grid</h2>
                                <p>Create beautiful information boxes using icons, links and texts, and make them slick using the built in positioning features</p>
                            </div>
                            <ul>
                                <li><a href="#">Documentation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End-->

        <!-- Design Start 01 -->
        <div class="heading__wrapper mb-50 text-center">
            <h4 class="mb-10">Logo Grid Design 1</h4>
            <p>We have a great client list in the showcase</p>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="logo__grid-01">
                            <figure class="logo__item">
                                <img src="images/logo-01.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-02.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-03.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-04.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-05.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-06.png" alt="logo__item" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Design Start 02 -->
        <div class="heading__wrapper my-50 text-center">
            <h4 class="mb-10">Logo Grid Design 2</h4>
            <p>We have a great client list in the showcase</p>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="logo__grid-02">
                            <figure class="logo__item">
                                <img src="images/logo-01.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-02.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-03.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-04.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-05.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-06.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-07.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-08.png" alt="logo__item" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Design Start 03 -->
        <div class="heading__wrapper my-50 text-center">
            <h4 class="mb-10">Logo Grid Design 3</h4>
            <p>We have a great client list in the showcase</p>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="logo__grid-03">
                            <figure class="logo__item">
                                <img src="images/logo-01.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-02.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-03.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-04.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-05.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-06.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-07.png" alt="logo__item" />
                            </figure>
                            <figure class="logo__item">
                                <img src="images/logo-08.png" alt="logo__item" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
