<!DOCTYPE html>
<html lang="en" class="darks">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Review Style</title>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Breadcrumb Start -->
        <div class="breadcrumbs py-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs__wrapper text-start">
                            <div class="breadcrumbs__content">
                                <h2>Review</h2>
                                <p>Create beautiful information boxes using icons, links and texts, and make them slick using the built in positioning features</p>
                            </div>
                            <ul>
                                <li><a href="#">Documentation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End-->

        <!-- Design Start 01 -->
        <div class="heading__wrapper mb-50 text-center">
            <h4 class="mb-10">Design 1</h4>
            <p>Multi color icon with border outline</p>
        </div>

        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="review__style-01 text-center">
                            <figure class="review__figure">
                                <img src="image/reviewer-01.jpg" alt="reviewer" />
                            </figure>
                            <div class="review__body">
                                <h4 class="review__title">Milla Davis</h4>
                                <div class="review__position">Developer</div>
                                <p class="review__text">
                                    Here I focus on a range of items and features that we use in elementor for our client web project without giving them a second thought
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review__style-01 text-center">
                            <figure class="review__figure">
                                <img src="image/reviewer-02.jpg" alt="reviewer" />
                            </figure>
                            <div class="review__body">
                                <h4 class="review__title">Mark taylor</h4>
                                <div class="review__position">Developer</div>
                                <p class="review__text">
                                    Here I focus on a range of items and features that we use in elementor for our client web project without giving them a second thought
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review__style-01 text-center">
                            <figure class="review__figure">
                                <img src="image/reviewer-01.jpg" alt="reviewer" />
                            </figure>
                            <div class="review__body">
                                <h4 class="review__title">Milla Davis</h4>
                                <div class="review__position">Developer</div>
                                <p class="review__text">
                                    Here I focus on a range of items and features that we use in elementor for our client web project without giving them a second thought
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Design Start 02 -->
        <div class="heading__wrapper my-50 text-center">
            <h4 class="mb-10">Design 2</h4>
            <p>Multi color icon with border outline</p>
        </div>

        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="review__style-02 flex">
                            <figure class="review__figure">
                                <img src="image/reviewer-01.jpg" alt="reviewer" />
                            </figure>
                            <div class="review__body">
                                <h4 class="review__title">Milla Davis</h4>
                                <div class="review__position">Developer</div>
                                <p class="review__text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, consequatur hic? Ad facere est hic nulla vel sequi minus, enim, et
                                    doloremque quidem vitae eaque.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="review__style-02 flex">
                            <figure class="review__figure">
                                <img src="image/reviewer-02.jpg" alt="reviewer" />
                            </figure>
                            <div class="review__body">
                                <h4 class="review__title">Mark taylor</h4>
                                <div class="review__position">Developer</div>
                                <p class="review__text">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio ipsum, ipsam quia consectetur expedita sed cupiditate dolores quo officia unde
                                    neque quos provident. Quos, dolor.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Design Start 03 -->
        <div class="heading__wrapper my-50 text-center">
            <h4 class="mb-10">Design 3</h4>
            <p>Multi color icon with border outline</p>
        </div>

        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="review__style-03 text-bg-primary">
                            <p class="review__text">
                                Here I focus on a range of items and features that we use in elementor for our client web project without giving them a second thought
                            </p>
                            <div class="review__body">
                                <h4 class="review__title">Milla Davis</h4>
                                <div class="review__position">Developer</div>
                                <div class="review__rating">
                                    <span class="material-symbols-outlined"> star </span>
                                    <span class="material-symbols-outlined"> star </span>
                                    <span class="material-symbols-outlined"> star </span>
                                    <span class="material-symbols-outlined"> star </span>
                                    <span class="material-symbols-outlined"> star </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review__style-03 text-bg-secondary">
                            <p class="review__text">
                                Here I focus on a range of items and features that we use in elementor for our client web project without giving them a second thought
                            </p>
                            <div class="review__body">
                                <h4 class="review__title">Milla Davis</h4>
                                <div class="review__position">Developer</div>
                                <div class="review__rating">
                                    <span class="material-symbols-outlined"> star </span>
                                    <span class="material-symbols-outlined"> star </span>
                                    <span class="material-symbols-outlined"> star </span>
                                    <span class="material-symbols-outlined"> star </span>
                                    <span class="material-symbols-outlined"> star </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review__style-03 text-bg-dark">
                            <p class="review__text">
                                Here I focus on a range of items and features that we use in elementor for our client web project without giving them a second thought
                            </p>
                            <div class="review__body">
                                <h4 class="review__title">Milla Davis</h4>
                                <div class="review__position">Developer</div>
                                <div class="review__rating">
                                    <span class="material-symbols-outlined"> star </span>
                                    <span class="material-symbols-outlined"> star </span>
                                    <span class="material-symbols-outlined"> star </span>
                                    <span class="material-symbols-outlined"> star </span>
                                    <span class="material-symbols-outlined"> star </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Design Start 04 -->
        <div class="heading__wrapper my-50 text-center">
            <h4 class="mb-10">Design 4</h4>
            <p>Multi color icon with border outline</p>
        </div>

        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="review__style-04">
                            <p class="review__text">
                                Design 6 Our Client's Speaks for us Quite often, the threat of a negative Trustpilot review will accomplish what would otherwise require legal
                                action. A positive force in all industries. Shane Platt Vocational nurse, Bluth Finance I’ve been using Gcal for the past few years.
                            </p>
                            <div class="review__inner">
                                <figure class="review__figure">
                                    <img src="image/reviewer-01.jpg" alt="reviewer" />
                                </figure>
                                <div class="review__body">
                                    <h4 class="review__title">Cynthia Assini</h4>
                                    <div class="review__position">CEO, Sinjen Corp</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review__style-04">
                            <p class="review__text">
                                Design 6 Our Client's Speaks for us Quite often, the threat of a negative Trustpilot review will accomplish what would otherwise require legal
                                action. A positive force in all industries. Shane Platt Vocational nurse, Bluth Finance I’ve been using Gcal for the past few years.
                            </p>
                            <div class="review__inner">
                                <figure class="review__figure">
                                    <img src="image/reviewer-02.jpg" alt="reviewer" />
                                </figure>
                                <div class="review__body">
                                    <h4 class="review__title">Cynthia Assini</h4>
                                    <div class="review__position">CEO, Sinjen Corp</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review__style-04">
                            <p class="review__text">
                                Design 6 Our Client's Speaks for us Quite often, the threat of a negative Trustpilot review will accomplish what would otherwise require legal
                                action. A positive force in all industries. Shane Platt Vocational nurse, Bluth Finance I’ve been using Gcal for the past few years.
                            </p>
                            <div class="review__inner">
                                <figure class="review__figure">
                                    <img src="image/reviewer-01.jpg" alt="reviewer" />
                                </figure>
                                <div class="review__body">
                                    <h4 class="review__title">Cynthia Assini</h4>
                                    <div class="review__position">CEO, Sinjen Corp</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Design Start 05 -->
        <div class="heading__wrapper my-50 text-center">
            <h4 class="mb-10">Design 5</h4>
            <p>Multi color icon with border outline</p>
        </div>

        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="review__style-05 text-center">
                            <p class="review__text">
                                Design 6 Our Client's Speaks for us Quite often, the threat of a negative Trustpilot review will accomplish what would otherwise require legal
                                action.
                            </p>
                            <div class="review__inner">
                                <figure class="review__figure">
                                    <img src="image/reviewer-01.jpg" alt="reviewer" />
                                </figure>
                                <div class="review__body">
                                    <h4 class="review__title">Cynthia Assini</h4>
                                    <div class="review__position">Programmer, Sinjen Corp</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review__style-05 text-center">
                            <p class="review__text">
                                Design 6 Our Client's Speaks for us Quite often, the threat of a negative Trustpilot review will accomplish what would otherwise require legal
                                action.
                            </p>
                            <div class="review__inner">
                                <figure class="review__figure">
                                    <img src="image/reviewer-02.jpg" alt="reviewer" />
                                </figure>
                                <div class="review__body">
                                    <h4 class="review__title">Cynthia Assini</h4>
                                    <div class="review__position">Programmer, Sinjen Corp</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review__style-05 text-center">
                            <p class="review__text">
                                Design 6 Our Client's Speaks for us Quite often, the threat of a negative Trustpilot review will accomplish what would otherwise require legal
                                action.
                            </p>
                            <div class="review__inner">
                                <figure class="review__figure">
                                    <img src="image/reviewer-01.jpg" alt="reviewer" />
                                </figure>
                                <div class="review__body">
                                    <h4 class="review__title">Cynthia Assini</h4>
                                    <div class="review__position">Programmer, Sinjen Corp</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
