<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Input Form Style</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Form Style -->
        <h5 class="text-bg-primary my-2">Form</h5>

        <form action="#">
            <div class="input-group">
                <label for="f_name" class="form-label">First Name</label>
                <input type="text" name="f_name" id="f_name" class="form-control" placeholder="Full Name" />
            </div>
            <div class="input-group">
                <label for="l_name" class="form-label">Last Name</label>
                <input type="text" name="l_name" id="l_name" class="form-control" placeholder="Last Name" />
            </div>
            <div class="input-group">
                <label for="email" class="form-label">Your Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Your Email" />
            </div>
            <div class="input-group">
                <label for="number" class="form-label">Number</label>
                <input type="number" name="number" id="number" class="form-control" placeholder="Number" />
            </div>
            <div class="input-group">
                <label for="textarea" class="form-label">Textarea</label>
                <textarea id="textarea" class="form-control" rows="3" placeholder="Your text Here"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </form>

        <!-- <div class="mb-15">
            <label for="f_name" class="form-label">Email address</label>
            <input type="text" class="form-control" id="f_name" placeholder="name@example.com" />
        </div>
        <div class="mb-15">
            <label for="l_name" class="form-label">Email address</label>
            <input type="text" class="form-control" id="l_name" placeholder="name@example.com" />
        </div>
        <div class="mb-15">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" />
        </div>
        <div class="mb-15">
            <label for="textarea" class="form-label">Example textarea</label>
            <textarea class="form-control" id="textarea" rows="3"></textarea>
        </div>
        <div class="mb-15">
            <input type="submit" value="submit" />

            <input type="text" name="" id="" />
            <input type="email" name="" id="" />
            <input type="tel" name="" id="" />
            <input type="password" name="" id="" />
            <input type="number" name="" id="" />
            <input type="file" name="" id="" />
            <input type="search" name="" id="" />
            <input type="button" value="" />
            <input type="submit" value="" />
            <input type="date" name="" id="" />
            <input type="datetime-local" name="" id="" />
            <input type="datetime" name="" id="" />
            <input type="time" name="" id="" />
            <input type="url" name="" id="" />
            <input type="week" name="" id="" />

            <input type="checkbox" name="" id="" />
            <input type="hidden" name="" />
            <input type="month" name="" id="" />
            <input type="radio" name="" id="" />
            <input type="range" name="" id="" />
            <input type="reset" value="" />
        </div> -->
    </body>
</html>
