@use '../internal' as *;


/*************************************
/* Alert Style
*************************************/
.alert {
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid;
    margin: 1rem 0;

    @each $key, $value in $default-colors {
        $color: nth($value, 1);
        &-#{$key} {
            background-color: hex2hsl($color, 80%);
            @if($key == 'light') {
                color: hex2hsl(nth($color, 1), -50%);
                border-color: hex2hsl($color, -20%); 
            } @else {
                border-color: hex2hsl($color, 50%); 
                color: hex2hsl(nth($color, 1), -30%);
            }
            a,
            .alert-link {
                @if($key == 'light') {
                    color: hex2hsl(nth($color, 1), -50%);
                    font-weight: 600;
                } @else {
                    color: nth($color, 1);
                    font-weight: 600;
                }
            }
        }
    }
}
