@use '../internal' as *;


/*************************************
/* Badge Style
*************************************/
.badge {
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    font-weight: 700;
    line-height: 1.2;
    font-size: 0.7em;
}
