@use '../internal' as *;


/*************************************
/* Badge Style
*************************************/
.badge {
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-weight: 700;
    line-height: 1.2;
    font-size: 0.7em;
    background-color: var(--bee-theme-dark);
    color: var(--bee-theme-light);
}
