@use '../internal' as *;


/*************************************
/* Breadcrumb Style
*************************************/

.breadcrumbs {
    ul {
        @include flex;
        @include flexbox;
        
        li {
            @include flex;
            align-items: center;
            list-style: none;
            position: relative;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: $grey;

            &::after {
                content: '/';
                display: block;
                margin-left: 0.5rem;
                margin-right: 0.75rem;
                opacity: .4;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            a {
                color: $grey;
                display: inline-flex;
                align-items: center;
                text-decoration: none;

                svg {
                    height: 1.8rem;
                    width: 1.8rem;
                    margin-right: 0.5rem;

                    path {
                        stroke: currentColor;
                    }
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}