@use '../internal' as *;

/*************************************
/* Breadcrumb Style
*************************************/
.breadcrumbs {
    &__wrapper {
        position: relative;
        &.text-center {
            text-align: center;

            .breadcrumbs__content {
                margin: auto;
            }
        }
        &.text-right {
            text-align: right;

            .breadcrumbs__content {
                margin-left: auto;
            }
        }
    }
    &__content {
        max-width: 550px;
        font-family: $default;
        h2 {
            font-size: 46px;
            line-height: 60px;
            color: var(--bee-theme-dark);
            font-weight: $semibold;
            margin-bottom: 20px;
        }
        p {
            font-size: 1rem;
            line-height: 1.625rem;
            color: $grey;
            font-weight: $regular;
            margin-bottom: rem(20px);
        }
    }
    ul {
        @include flex;
        @include flexbox;
        
        li {
            @include flex;
            align-items: center;
            list-style: none;
            position: relative;
            font-size: 1rem;
            line-height: 1.375rem;
            color: $grey;

            &::after {
                content: '/';
                display: block;
                margin-left: .313rem;
                margin-right: .438rem;
                opacity: .4;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            a {
                color: $grey;
                display: inline-flex;
                align-items: center;
                text-decoration: none;

                svg {
                    height: 1.125rem;
                    width: 1.125rem;
                    margin-right: .313rem;

                    path {
                        stroke: currentColor;
                    }
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

