@use '../internal' as *;


/*************************************
/* Button Style
*************************************/
.btn {
    padding: .5rem 1rem;
    border-radius: .25rem;
    border: .063rem solid;
    cursor: pointer;
    text-decoration: none;

    @each $key, $value in $default-colors {
        $bg-color: nth($value, 1);
        $color: nth($value, 2);

        &-#{$key} {
            background-color: $bg-color;
            color: $color;
            border-color: $bg-color;
            @if( $key == 'link') {
                padding: 0 !important;
                border: none;
                text-decoration: underline;
                text-underline-offset: .25rem;
            }
            &.active,
            &:hover {
                background-color: hex2hsl($bg-color, -10%);
                border-color: hex2hsl($bg-color, -10%);
            }
        }
        &-outline-#{$key} {
            background-color: transparent;
            color: $bg-color;
            border-color: $bg-color;
            @if( $key == 'link') {
                padding: 0 !important;
                border: none;
                text-decoration: underline;
                text-underline-offset: .25rem;
            }
            &.active,
            &:hover {
                background-color: $bg-color;
                color: $color;
            }
        }
    }
    &-lg {
        padding: .75rem 1.375rem !important;
    }
    &-sm {
        font-size: .875rem;
        padding: .375rem .75rem !important;
    }
    
    &-group {
        position: relative;
        display: inline-flex;
        align-items: center;

        .btn {
            border-radius: 0;
            border-right: none;

            &:first-of-type {
                border-top-left-radius: .25rem;
                border-bottom-left-radius: .25rem;
            }
            &:last-of-type {
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;
                border-right: .063rem solid;
            }
        }
        &-lg {
            .btn {
                padding: .75rem 1.375rem;
            }
        }
        &-sm {
            .btn {
                font-size: .875rem;
                padding: .375rem .75rem;
            }
        }
    }
}
