@use '../internal' as *;

/*************************************
/* CheckBox 
*************************************/
.form-check {
    display: flex;
    align-items: center;
    gap: .313rem;
    label {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: $semibold;
        color: $black;
        // margin: 0 0 0 05px;
        cursor: pointer;
    }
}

.checkbox {
    height: rem(20px);
    width: rem(20);
    border: .063rem solid $border;
    background: $white;
    appearance: none;
    position: relative;
    cursor: pointer;
    transition: $transition;
    border-radius: .25rem;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: .313rem;
        height: .75rem;
        border: solid $primary;
        border-width: 0 .125rem .125rem 0;
        transform: translate(-50%, -60%) rotate(45deg) ;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
    }
    &.circle {
        border-radius: 50%;
    }
    &:checked {
        background: $primary;
        border-color: $primary;

        &::before {
            border-color: $white;
            opacity: 1;
            visibility: visible;
        }
    }
    &-outline {
        &:checked {
            background: transparent;

            &::before {
                border-color: $primary;
            }
        }
    }
}
