@use '../internal' as *;

/*************************************
/* CheckBox 
*************************************/
.form-check {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    label {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: $semibold;
        color: $black;
        // margin: 0 0 0 0.5rem;
        cursor: pointer;
    }
}

.checkbox {
    height: 2rem;
    width: 2rem;
    border: 1px solid $border;
    background: $white;
    appearance: none;
    position: relative;
    cursor: pointer;
    transition: $transition;
    border-radius: 0.4rem;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 7px;
        width: 5px;
        height: 12px;
        border: solid $primary;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
        visibility: hidden;
        transition: $transition;
    }
    &:checked {
        background: $primary;
        border-color: $primary;

        &::before {
            border-color: $white;
            opacity: 1;
            visibility: visible;
        }
    }
}
