@use '../internal' as *;

/*************************************
/* Dots Style 
*************************************/
.dot {
    background-color: var(--bee-bg-dot);
    border-radius: 50%;
    display: inline-flex;
    min-height: .75rem;
    min-width: .75rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
    &-title {
        font-size: 1rem;
        font-weight: $medium;
        
    }
}