@use '../internal' as *;


/*************************************
/* Input Style
*************************************/

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
input[type=number],
input[type=file],
input[type=search],
input[type=button],
input[type=submit],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=time],
input[type=url],
input[type=monthl],
input[type=week],
textarea {
    border: 1px solid var(--bee-input-border-color);
    display: inline-block;
    // padding: 0.4rem 0.8rem;
}
.form {
    &-control {
        display: block;
        width: 100%;
        padding: var(--bee-input-padding-x) var(--bee-input-padding-x);
        font-family: var(--bee-input-font-family);
        font-size: var(--bee-input-font-size);
        font-weight: var(--bee-input-font-weight);
        line-height: var(--bee-input-font-line-height);
        color: var(--bee-input-color);
        background-color: var(--bee-input-bg);
        background-clip: padding-box;
        border: 1px solid var(--bee-input-border-color);
        appearance: none; // Fix appearance for date inputs in Safari
        @include border-radius($radius: 0.5rem);
      
        &[type="file"] {
          overflow: hidden; // prevent pseudo element button overlap
      
          &:not(:disabled):not([readonly]) {
            cursor: pointer;
          }
        }
      
        // Customize the `:focus` state to imitate native WebKit styles.
        &:focus {
            color: var(--bee-input-color);
            background-color: var(--bee-input-bg);
            border-color: var(--bee-input-focus-border-color);
            outline: 0;
            box-shadow: 0 0 0 4px rgba(#0d6efd, 0.25);
        }
    }  
    &-label {
        display: inline-block;
        margin-bottom: 0.8rem;
    }
}

/*************************************
/* Input Group Style
*************************************/
.input-group {
    position: relative; 
    @include flex(flex);
    @include flex-wrap(wrap);
    @include align-items();
    margin-bottom: 1rem;
    // width: 100%;
}
