@use '../internal' as *;

/*************************************
/* Overflow Property
*************************************/

@each $key, $value in $overflow-property {
    .overflow-#{$key} {
        overflow: $value !important;
    }
    .overflow-x-#{$key} {
        overflow: $value !important;
    }
    .overflow-y-#{$key} {
        overflow: $value !important;
    }
}

