@use '../internal' as *;


/*************************************
/* Pagination Style
*************************************/

.pagination {
    @include flex(flex);
    @include flex-wrap;
    @include align-items(center);
    list-style: none;

    .page-item {
        &.disable {
            .page-link {
                color: #6c757d;
                pointer-events: none;
                
            }
        }
        .page-link {
            position: relative;
            display: block;
            color: var(--bee-theme-dark);
            text-decoration: none;
            background-color: var(--bee-theme-light);
            border: .063rem solid var(--bee-theme-border);
            padding: .375rem .75rem;
            display: block;
            text-transform: capitalize;

            &:hover {
                background: var(--bee-theme-border);
            }
            &.active {
                background: var(--bee-theme-accent);
                border-color: var(--bee-theme-accent);
                color: var(--bee-white);
            }
        }
        &:first-child {
            .page-link  {
                border-top-left-radius: .25rem;
                border-bottom-left-radius: .25rem;
            }
        }
        &:last-child {
            .page-link {
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;
            }
        }
        &:not(:first-child) .page-link {
            margin-left: -0.063rem;
        }
    }
}