@use '../internal' as *;

/*************************************
/* Radio Style 
*************************************/
.form-check {
    display: flex;
    align-items: center;
    gap: .313rem;
    label {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: $semibold;
        color: var(--bee-theme-dark);
        // margin: 0 0 0 .313rem;
        cursor: pointer;
    }
}


.radio {
    --radio-bg : var(--bee-bg);
    --radio-color : var(--bee-primary);
    position: relative;
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    border: .063rem solid var(--radio-color);
    border-radius: 50%;
    background: $white;
    appearance: none;
    cursor: pointer;
    transition: $transition;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: .75rem;
        height: .75rem;
        background: $white;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
    }
    &:checked {
        border-color:  var(--radio-color);
        border-width: .063rem;

        &::before {
            opacity: 1;
            visibility: visible;
            background: var(--radio-color);
        }
    }
    &-filled {
        background: var(--radio-bg);
        &::before {
            width: .625rem;
            height: .625rem;
        }
        &:checked {
            border-color: var(--radio-color);
            border-width: .375rem;
    
            &::before {
                opacity: 1;
                visibility: visible;
                background: $white;
            }
        }
    }
    &-outline {
        &-filled {
            &:checked {
                background: var(--radio-bg);
            }

            &::before {
                display: none;
            }
        }
        &::before {
            height: .75rem;
            width: .75rem;
        }
        
        &:checked {
            border-color:  var(--radio-color);
            border-width: .063rem;
    
            &::before {
                opacity: 1;
                visibility: visible;
                background: var(--radio-color);
            }
        }
    }
}
