@use '../internal' as *;

/*************************************
/* Radio Style 
*************************************/
.form-check {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    label {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: $semibold;
        color: $black;
        // margin: 0 0 0 0.5rem;
        cursor: pointer;
    }
}


.radio {
    --radio-bg : var(--bee-bg);
    --radio-color : var(--bee-primary);
    position: relative;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--radio-color);
    border-radius: 50%;
    background: $white;
    appearance: none;
    cursor: pointer;
    transition: $transition;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.2rem;
        height: 1.2rem;
        background: $white;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
    }
    &:checked {
        border-color:  var(--radio-color);
        border-width: 1px;

        &::before {
            opacity: 1;
            visibility: visible;
            background: var(--radio-color);
        }
    }
    &-filled {
        background: var(--radio-bg);
        &::before {
            width: 1rem;
            height: 1rem;
        }
        &:checked {
            border-color: var(--radio-color);
            border-width: 0.6rem;
    
            &::before {
                opacity: 1;
                visibility: visible;
                background: $white;
            }
        }
    }
    &-outline {
        &-filled {
            &:checked {
                background: var(--radio-bg);
            }

            &::before {
                display: none;
            }
        }
        &::before {
            height: 1.2rem;
            width: 1.2rem;
        }
        
        &:checked {
            border-color:  var(--radio-color);
            border-width: 1px;
    
            &::before {
                opacity: 1;
                visibility: visible;
                background: var(--radio-color);
            }
        }
    }
}
