@use '../internal' as *;


/*************************************
/* Shadow Property
*************************************/
.shadow {
    box-shadow: 0 .5rem 1rem rgba(33,37,41,.15)!important;
    &-none {
        box-shadow: none!important;
    }
    &-sm {
        box-shadow: 0 .125rem .25rem rgba(33,37,41,.075)!important;
    }
    &-lg {
        box-shadow: 0 1rem 3rem rgba(33,37,41,.175)!important;
    }
}