@use '../internal' as *;

/*************************************
/* Table Style 
*************************************/
.table {
    display: table;
    text-indent: 0;
    border-collapse: initial;
    border-spacing: initial;
    width: 100%;
    margin: 1.875rem;

    > thead {
        background: $border;
        tr {
            th {
                border: .063rem solid $border;
                font-size: .875rem;
                line-height: 1.25rem;
                padding: 1rem .625rem;
                white-space: nowrap;
                font-weight: $regular;
                text-align: start;
            }
        }
    }
    > tbody {
        tr {
            td,
            th {
                border-bottom: .063rem solid $border;
                font-size: .875rem;
                line-height: 1.25rem;
                padding: 1rem .625rem;
                white-space: nowrap;
                font-weight: $regular;
                text-align: start;
            }
        }
    }
}