<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Switch Style</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Switch Style -->
        <h5 class="text-bg-primary my-20">Switch Default</h5>

        <input type="checkbox" class="switch switch-default" />

        <!-- Switch Style -->
        <h5 class="text-bg-primary my-20">Switch Multi Color</h5>

        <input type="checkbox" class="switch switch-primary round" checked />
        <input type="checkbox" class="switch switch-secondary circle" checked />
        <input type="checkbox" class="switch switch-success circle" checked />
        <input type="checkbox" class="switch switch-info circle" checked />
        <input type="checkbox" class="switch switch-danger circle" checked />
        <input type="checkbox" class="switch switch-warning circle" checked />

        <!-- Switch Style -->
        <h5 class="text-bg-primary my-20">Switch Type</h5>

        <input type="checkbox" class="switch switch-default" />
        <input type="checkbox" class="switch switch-primary round" />
        <input type="checkbox" class="switch switch-danger circle" checked />
    </body>
</html>
