<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>List Style</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- List Item Style -->
        <h5 class="text-bg-primary my-20">List Item</h5>

        <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>

        <!-- List Item Active Style -->
        <h5 class="text-bg-primary my-20">List Active Item</h5>

        <ul class="list-group">
            <li class="list-group-item active">Active</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>

        <!-- List Item Disable Style -->
        <h5 class="text-bg-primary my-20">List Disable Item</h5>

        <ul class="list-group">
            <li class="list-group-item disable">Disable</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>

        <!-- List Item Link Style -->
        <h5 class="text-bg-primary my-20">List Link Item</h5>

        <div class="list-group">
            <a href="#" class="list-group-item active">Active</a>
            <a href="#" class="list-group-item">A second item</a>
            <a href="#" class="list-group-item">A third item</a>
            <a href="#" class="list-group-item">A fourth item</a>
            <a href="#" class="list-group-item">And a fifth one</a>
        </div>
    </body>
</html>
