<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Badge Style</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Badge Style -->
        <h5 class="text-bg-primary my-2">badge</h5>

        <h1>Heading <span class="badge radius-pill text-bg-primary">Primary</span></h1>
        <h2>Heading <span class="badge radius-15 text-bg-warning">Primary</span></h2>
        <h3>Heading <span class="badge text-bg-info">Primary</span></h3>
        <h4>Heading <span class="badge text-bg-warning">Primary</span></h4>
        <h5>Heading <span class="badge text-bg-warning">Primary</span></h5>
        <h6>Heading <span class="badge text-bg-warning">Primary</span></h6>
        <p>Heading <span class="badge text-bg-warning">Primary</span></p>
    </body>
</html>
