@use 'constants' as *;

$rem-unit: 10px;

$default-breakpoints: (
    $xm: 375px,
    $xs: 480px,
    $sm: 576px,
    $md: 768px,
    $lg: 992px,
    $xl: 1200px,
    $xxl: 1400px,
    $ratina: 1720px,
) !default;


$default-containers: (
    $xm: 100%,
    $xs: 480px,
    $sm: 540px,
    $md: 720px,
    $lg: 960px,
    $xl: 1140px,
    $xxl: 1320px,
    $ratina: 1600px,
) !default;

$default-grid: (
    'space': 1rem,
    'columns': 12,
) !default;

$space: 1rem !default;
$default-spacing: (
    $margin: ($left, $right, $top, $bottom, $x-exis, $y-exis),
    $padding: ($left, $right, $top, $bottom, $x-exis, $y-exis)
) !default;

// DEFAULTS
$default-sizing-system: (
    0: 0rem,
    1: 0.5rem,
    2: 1rem,
    3: 1.5rem,
    4: 2rem,
    5: 2.5rem,
    6: 3rem,
    8: 4rem,
    10: 5rem,
    12: 6rem,
    16: 8rem,
    20: 10rem,
    24: 12rem,
    32: 16rem,
) !default;

$default-quartile-percentages: (
    25p: 25%,
    50p: 50%,
    75p: 75%,
    100p: 100%,
) !default;

$default-percentages: (
    10p: 10%,
    20p: 20%,
    30p: 30%,
    40p: 40%,
    50p: 50%,
    60p: 60%,
    70p: 70%,
    80p: 80%,
    90p: 90%,
    100p: 100%,
) !default;
