@use 'sass:math';
@use '../internal' as *;


/*************************************
/* Border Style 
/* @properties: border-style, border-width, border-radius
/* @styles: solid, dotted, double, groove, dashed, ridge, inset, outset, none, hidden
/* @colors: $colors
*************************************/

$border: (
    'prefix': 'border',
    'styles': (solid, dotted, dashed, double, groove, ridge, inset, outset, none),
    'variant': (top, right, bottom, left, x, y),
    'max-width': 12
);

.border {
    border: 1px solid;
}

// Border Styles
// class: border-solid, border-dotted
@each $style in map-get($border, 'styles') {
    .#{map-get($border, prefix)}-#{$style} {
        border-width: 1px;
        border-style: $style;
    }
}


// Border Variants
// class: border-left, border-right
@each $variant in map-get($border, 'variant') {
    .#{map-get($border, prefix)}-#{$variant} {
        @if($variant : 'x') {
            border-left-width: 1px;
            border-right-width: 1px;
            border-style: solid;
            
            @for $i from 1 to map-get($border, 'max-width') {
                &-#{$i} {
                    border-width: #{$i}px;
                    border-style: solid;
                }
            }


        } @else if($variant : 'y') {
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-style: solid;

            @for $i from 1 to map-get($border, 'max-width') {
                &-#{$i} {
                    border-width: #{$i}px;
                    border-style: solid;
                }
            }
        } @else {
            border-#{$variant}-width: 1px;
            border-style: solid;

            @for $i from 1 to map-get($border, 'max-width') {
                &-#{$i} {
                    border-width: #{$i}px;
                    border-style: solid;
                }
            }
        }
        
        // @each $style in map-get($border, 'styles') {
        //     &-#{$style} {
        //         border-width: 1px;
        //         border-style: $style;
        //     }
        // }
    }
}


/*************************************
/* Border Radius 
*************************************/
@for $i from 1 to 70 {
	.border-radius-#{$i} {
		border-radius: #{$i}px !important;
	}
}
