@use '../internal' as *;


/// Css Color Variable
/// @param {Color Map} From internal/theme.scss
/// 
$all-colors : map-merge($default-colors, $base-colors);

:root, [data-#{$prefix}theme="light"] {
  @each $key, $value in $all-colors {
    --#{$prefix}#{$key} : #{$value};
  }
}


@each $color, $value in colorMap($base-colors, 10) {
    // Text Colors
    .#{$color} {
        color: $value;
    }
    .\:hover-#{$color} {
        &:hover {
            color: $value;
        }
    }
    

    // Background Colors
    .bg-#{$color} {
        background-color: $value;
    }
    .\:hover-bg-#{$color} {
        &:hover {
            background-color: $value;
        }
    }

    // Border Colors
    .border-#{$color} {
        border-color: $value;
    }
    .\:hover-border-#{$color} {
        &:hover {
            border-color: $value;
        }
    }
}
