@use '../internal' as *;



.container {
    @include container-generator;
    display: inline;
    
    @each $key, $val in $default-containers {
        @include mq($key) {
            max-width: $val;
        }
    }
    @each $key, $val in $default-containers {
        &-#{$key} {
            max-width: $val;
        }
    }
    &-fluid {
        @include container-generator($fluid: true);
    }
}