<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Radio Style</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Radio Style -->
        <h5 class="text-bg-primary my-20">Radio Default</h5>

        <div class="form-checks m-10">
            <input class="radio radio-primary" type="radio" name="radio" checked />
            <input class="radio" type="radio" name="radio" />
            <input class="radio" type="radio" name="radio" />
            <input class="radio" type="radio" name="radio" />
            <input class="radio" type="radio" name="radio" />
            <input class="radio" type="radio" name="radio" />
            <input class="radio" type="radio" name="radio" />
        </div>

        <!-- Radio Style -->
        <h5 class="text-bg-primary my-20">Radio Fill</h5>

        <div class="form-checks m-10">
            <input class="radio radio-primary radio-filled" type="radio" name="radio-2" checked />
            <input class="radio radio-secondary radio-filled" type="radio" name="radio-2" />
            <input class="radio radio-success radio-filled" type="radio" name="radio-2" />
            <input class="radio radio-info radio-filled" type="radio" name="radio-2" />
            <input class="radio radio-warning radio-filled" type="radio" name="radio-2" />
            <input class="radio radio-danger radio-filled" type="radio" name="radio-2" />
            <input class="radio radio-dark radio-filled" type="radio" name="radio-2" />
        </div>

        <!-- Radio Style -->
        <h5 class="text-bg-primary my-20">Radio Outline Fill</h5>

        <div class="form-checks m-10">
            <input class="radio radio-primary radio-outline-filled" type="radio" name="radio-3" checked />
            <input class="radio radio-secondary radio-outline-filled" type="radio" name="radio-3" />
            <input class="radio radio-success radio-outline-filled" type="radio" name="radio-3" />
            <input class="radio radio-info radio-outline-filled" type="radio" name="radio-3" />
            <input class="radio radio-warning radio-outline-filled" type="radio" name="radio-3" />
            <input class="radio radio-danger radio-outline-filled" type="radio" name="radio-3" />
            <input class="radio radio-dark radio-outline-filled" type="radio" name="radio-3" />
        </div>

        <!-- Radio Style -->
        <h5 class="text-bg-primary my-20">Radio Outline Default</h5>

        <div class="form-check m-10">
            <input class="radio" id="radio-01" type="radio" name="radio-4" checked />
            <label for="radio-01">Radio Outline</label>
        </div>
        <div class="form-check m-10">
            <input class="radio" id="radio-02" type="radio" name="radio-4" />
            <label for="radio-02">Radio Outline</label>
        </div>
        <div class="form-check m-10">
            <input class="radio" id="radio-03" type="radio" name="radio-4" />
            <label for="radio-03">Radio Outline</label>
        </div>

        <!-- Radio Style -->
        <h5 class="text-bg-primary my-20">Radio Outline Color</h5>

        <div class="form-check m-10">
            <input class="radio radio-primary radio-outline" id="radio-1" type="radio" name="radio-5" checked />
            <label for="radio-1">Radio Outline</label>
        </div>
        <div class="form-check m-10">
            <input class="radio radio-secondary radio-outline" id="radio-2" type="radio" name="radio-5" />
            <label for="radio-2">Radio Outline</label>
        </div>
        <div class="form-check m-10">
            <input class="radio radio-success radio-outline" id="radio-3" type="radio" name="radio-5" />
            <label for="radio-3">Radio Outline</label>
        </div>
    </body>
</html>
