// @use '../internal/theme' as *;
@use '../internal/constants' as *;
@use '../internal/defaults' as *;


// Container mixins
@mixin container-generator($space: $space, $fluid: false, $default: map-get($default-containers, $xxl)) {
    display: block;
    --#{$prefix}space-x: #{$space};
    --#{$prefix}space-y: 0;
    width: 100%;
    @if($fluid == true) {
        max-width: 100%;
    } @else {
        max-width: $default;
    }
    padding-right: calc(.5* var(--#{$prefix}space-x));
    padding-left: calc(.5* var(--#{$prefix}space-x));
    margin-right: auto;
    margin-left: auto;
}
  