@use 'sass:map';
@use 'sass:color';
@use 'sass:math';


@use 'constants' as *;

// Font Family
$default: var(--bee-body-font-family);

// Color Variable
$primary: var(--bee-primary);
$secondary: var(--bee-secondary);
$success: var(--bee-success);
$info: var(--bee-info);
$warning: var(--bee-warning);
$danger: var(--bee-danger);
$light: var(--bee-light);
$dark: var(--bee-dark);
$content: var(--bee-content);
$link: var(--bee-link);
$body: var(--bee-body);
$white: var(--bee-white);
$transparent: var(--bee-transparent);
$black: var(--bee-black);
$red: var(--bee-red);
$pink: var(--bee-pink);
$purple: var(--bee-purple);
$deep-purple: var(--bee-deep-purple);
$indigo: var(--bee-indigo);
$blue: var(--bee-blue);
$light-blue: var(--bee-light-blue);
$cyan: var(--bee-cyan);
$teal: var(--bee-teal);
$green: var(--bee-green);
$light-green: var(--bee-light-green);
$lime: var(--bee-lime);
$yellow: var(--bee-yellow);
$amber: var(--bee-amber);
$orange: var(--bee-orange);
$deep-orange: var(--bee-deep-orange);
$brown: var(--bee-brown);
$grey: var(--bee-grey);
$blue-grey: var(--bee-blue-grey);
$border: var(--bee-border);
$heading: var(--bee-dark);
$bg-light: var(--bee-bg-light);


// Font Weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$exblack: 900;


// Transition
$transition: all 300ms ;


