$prefix : 'bee-';

// Breakpoints
$xm: 'xm';
$xs: 'xs';
$sm: 'sm';
$md: 'md';
$lg: 'lg';
$xl: 'xl';
$xxl: 'xxl';
$ratina: 'ratina';

$margin: 'm';
$padding: 'p';

// directions
$left: 'l';
$right: 'r';
$top: 't';
$bottom: 'b';
$x-exis: 'x';
$y-exis: 'y';


