@use 'sass:map';
@use 'sass:color';
@use 'sass:math';


@use 'constants' as *;
// Color scheme for bee
$bee-white: #ffffff;

$bee-fg: #0f172a;
$bee-bg: $bee-white;


$default-colors: (
  // name: (bg-color, text-color)
  'primary': (#0d6efd, #fff),
  'secondary': (#6c757d, #fff),
  'success': (#198754, #fff),
  'info': (#0dcaf0, #fff),
  'warning': (#ffc107, black),
  'danger': (#dc3545, #fff),
  'light': (#f8f9fa, black),
  'dark': (#212529, #fff),
  'content': (#fff, #212529),
  'link': (transparent, #0d6efd),
  'body': (#fff, black),
  'white': (#fff, black),
  'transparent': (transparent, black),
  'dot': (#c3c3c3, black)
) !default;



$base-colors: (
  'white': #ffffff,
  'black': #000,
  'red': #F44336,
  'pink': #E91E63,
  'purple': #9C27B0,
  'deep-purple': #673AB7,
  'indigo': #3F51B5,
  'blue': #2196F3,
  'light-blue': #03A9F4,
  'cyan': #00BCD4,
  'teal': #009688,
  'green': #4CAF50,
  'light-green': #8BC34A,
  'lime': #CDDC39,
  'yellow': #FFEB3B,
  'amber': #FFC107,
  'orange': #FF9800,
  'deep-orange': #FF5722,
  'brown': #795548,
  'grey': #9E9E9E,
  'blue-grey': #607D8B,
  'border': #dee2e6,
  'bg-light': #f1f1f1,
  'bg-dot': #c3c3c3,
);



$theme-mode: ('light', 'dark');
$theme-palette: (
  // name:    (light,     dark)
  background: (#ffffff, #000000),
  primary:    (#0d6efd, #0d6efd),
  secondary:  (#6c757d, #a3b1bd),
  accent:     (#0d6efd, #3d444a),
  light:      (#f8f9fa, #212529),
  dark:       (#212529, #f8f9fa),
  border:     (#dee2e6, #4c5259)
)!default;
