<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>InfoBox Style</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Breadcrumb Start -->
        <div class="breadcrumbs py-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs__wrapper text-start">
                            <div class="breadcrumbs__content">
                                <h2>Info Box</h2>
                                <p>Create beautiful information boxes using icons, links and texts, and make them slick using the built in positioning features</p>
                            </div>
                            <ul>
                                <li><a href="#">Documentation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End-->

        <!-- Design Start 01 -->
        <div class="heading__wrapper mb-50 text-center">
            <h4 class="mb-10">InfoBox Design 1</h4>
            <p>Multi color icon with border outline</p>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="infobox">
                            <figure class="infobox__icon">
                                <img src="image/responsive.png" alt="responsive" />
                            </figure>
                            <div class="infobox__body">
                                <h4 class="infobox__title">Responsive Layout</h4>
                                <p class="infobox__text">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod</p>
                                <div class="infobox__btn">
                                    <a href="#" class="btn btn-solid btn-solid-secondary">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="infobox">
                            <figure class="infobox__icon">
                                <img src="image/responsive.png" alt="responsive" />
                            </figure>
                            <div class="infobox__body">
                                <h4 class="infobox__title">Trendy Design</h4>
                                <p class="infobox__text">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod</p>
                                <div class="infobox__btn">
                                    <a href="#" class="btn btn-solid btn-solid-secondary">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="infobox">
                            <figure class="infobox__icon">
                                <img src="image/responsive.png" alt="responsive" />
                            </figure>
                            <div class="infobox__body">
                                <h4 class="infobox__title">Unique Features</h4>
                                <p class="infobox__text">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod</p>
                                <div class="infobox__btn">
                                    <a href="#" class="btn btn-solid btn-solid-secondary">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Design Start 02 -->
        <div class="heading__wrapper my-50 text-center">
            <h4 class="mb-10">Design 2</h4>
            <p>Easily include image icon in the info box and adjust the size, color and other</p>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="infobox flex">
                            <figure class="infobox__icon">
                                <img src="image/responsive.png" alt="responsive" />
                            </figure>
                            <div class="infobox__body">
                                <h4 class="infobox__title">Responsive Layout</h4>
                                <p class="infobox__text">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod</p>
                                <div class="infobox__btn">
                                    <a href="#" class="btn btn-solid btn-solid-secondary">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="infobox flex">
                            <figure class="infobox__icon">
                                <img src="image/responsive.png" alt="responsive" />
                            </figure>
                            <div class="infobox__body">
                                <h4 class="infobox__title">Trendy Design</h4>
                                <p class="infobox__text">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod</p>
                                <div class="infobox__btn">
                                    <a href="#" class="btn btn-solid btn-solid-secondary">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="infobox flex">
                            <figure class="infobox__icon">
                                <img src="image/responsive.png" alt="responsive" />
                            </figure>
                            <div class="infobox__body">
                                <h4 class="infobox__title">Unique Features</h4>
                                <p class="infobox__text">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod</p>
                                <div class="infobox__btn">
                                    <a href="#" class="btn btn-solid btn-solid-secondary">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Design Start 03 -->
        <div class="heading__wrapper my-50 text-center">
            <h4 class="mb-10">Design 3</h4>
            <p>Easily include image icon in the info box and adjust the size, color and other</p>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="infobox text-center">
                            <figure class="infobox__icon">
                                <img src="image/responsive.png" alt="responsive" />
                            </figure>
                            <div class="infobox__body">
                                <h4 class="infobox__title">Responsive Layout</h4>
                                <p class="infobox__text">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod</p>
                                <div class="infobox__btn">
                                    <a href="#" class="btn btn-outline-primary">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="infobox text-center">
                            <figure class="infobox__icon">
                                <img src="image/responsive.png" alt="responsive" />
                            </figure>
                            <div class="infobox__body">
                                <h4 class="infobox__title">Trendy Design</h4>
                                <p class="infobox__text">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod</p>
                                <div class="infobox__btn">
                                    <a href="#" class="btn btn-outline-secondary">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="infobox text-center">
                            <figure class="infobox__icon">
                                <img src="image/responsive.png" alt="responsive" />
                            </figure>
                            <div class="infobox__body">
                                <h4 class="infobox__title">Unique Features</h4>
                                <p class="infobox__text">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod</p>
                                <div class="infobox__btn">
                                    <a href="#" class="btn btn-outline-danger">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
