<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Alert Style</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Alert Style -->
        <h5 class="text-bg-primary my-2">Alert</h5>

        <div class="alert alert-primary" role="alert">A simple primary alert—check it out!</div>
        <div class="alert alert-secondary" role="alert">A simple secondary alert—check it out!</div>
        <div class="alert alert-success" role="alert">A simple success alert—check it out!</div>
        <div class="alert alert-danger" role="alert">A simple danger alert—check it out!</div>
        <div class="alert alert-warning" role="alert">A simple warning alert—check it out!</div>
        <div class="alert alert-info" role="alert">A simple info alert—check it out!</div>
        <div class="alert alert-light" role="alert">A simple light alert—check it out!</div>
        <div class="alert alert-dark" role="alert">A simple dark alert—check it out!</div>

        <!-- Alert Link -->
        <h5 class="text-bg-primary my-2">Alert Link</h5>

        <div class="alert alert-primary" role="alert">A simple primary <a href="#" class="alert-link">alert—check</a> it out!</div>
        <div class="alert alert-secondary" role="alert">A simple secondary <a href="#" class="alert-link">alert—check</a> it out!</div>
        <div class="alert alert-success" role="alert">A simple success <a href="#" class="">alert—check</a> it out!</div>
        <div class="alert alert-danger" role="alert">A simple danger <a href="#" class="alert-link">alert—check</a> it out!</div>
        <div class="alert alert-warning" role="alert">A simple warning <a href="#" class="alert-link">alert—check</a> it out!</div>
        <div class="alert alert-info" role="alert">A simple info <a href="#" class="alert-link">alert—check</a> it out!</div>
        <div class="alert alert-light" role="alert">A simple light <a href="#" class="alert-link">alert—check</a> it out!</div>
        <div class="alert alert-dark" role="alert">A simple dark <a href="#" class="alert-link">alert—check</a> it out!</div>
    </body>
</html>
