<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Alert Style</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Background Style -->
        <h5 class="text-bg-primary my-2">Background color</h5>

        <div class="p-10 mb-2 bg-primary text-white">.bg-primary</div>
        <div class="p-10 mb-2 bg-secondary text-white">.bg-secondary</div>
        <div class="p-10 mb-2 bg-success text-white">.bg-success</div>
        <div class="p-10 mb-2 bg-danger text-white">.bg-danger</div>
        <div class="p-10 mb-2 bg-warning text-dark">.bg-warning</div>
        <div class="p-10 mb-2 bg-info text-dark">.bg-info</div>
        <div class="p-10 mb-2 bg-light text-dark">.bg-light</div>
        <div class="p-10 mb-2 bg-dark text-white">.bg-dark</div>
        <div class="p-10 mb-2 bg-body text-dark">.bg-body</div>
        <div class="p-10 mb-2 bg-white text-dark">.bg-white</div>
        <div class="p-10 mb-2 bg-transparent text-dark">.bg-transparent</div>
    </body>
</html>
