<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dot Style</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Dots Style -->
        <h5 class="text-bg-primary my-20">Dot Default Style</h5>

        <span class="dot"></span>

        <!-- Dots Style -->
        <h5 class="text-bg-primary my-20">Dots Color</h5>

        <span class="dot"></span>
        <span class="dot dot-primary"></span>
        <span class="dot dot-secondary"></span>
        <span class="dot dot-success"></span>
        <span class="dot dot-info"></span>
        <span class="dot dot-warning"></span>
        <span class="dot dot-danger"></span>

        <!-- Dots Style -->
        <h5 class="text-bg-primary my-20">Dots With Text</h5>

        <span class="flex align-items-center gap-5">
            <span class="dot"></span>
            <span class="dot-title">Cancelled</span>
        </span>
        <span class="flex align-items-center gap-5">
            <span class="dot dot-primary"></span>
            <span class="dot-title">Primary</span>
        </span>
        <span class="flex align-items-center gap-5">
            <span class="dot dot-secondary"></span>
            <span class="dot-title">Secondary</span>
        </span>
        <span class="flex align-items-center gap-5">
            <span class="dot dot-success"></span>
            <span class="dot-title">Success</span>
        </span>
        <span class="flex align-items-center gap-5">
            <span class="dot dot-info"></span>
            <span class="dot-title">Info</span>
        </span>
        <span class="flex align-items-center gap-5">
            <span class="dot dot-warning"></span>
            <span class="dot-title">Warning</span>
        </span>
        <span class="flex align-items-center gap-5">
            <span class="dot dot-danger"></span>
            <span class="dot-title">Danger</span>
        </span>

        <!-- Dots Style -->
        <h5 class="text-bg-primary my-20">Dots With Color Text</h5>

        <span class="flex align-items-center gap-5">
            <span class="dot"></span>
            <span class="dot-title text-dot">Cancelled</span>
        </span>
        <span class="flex align-items-center gap-5">
            <span class="dot dot-primary"></span>
            <span class="dot-title text-primary">Primary</span>
        </span>
        <span class="flex align-items-center gap-5">
            <span class="dot dot-secondary"></span>
            <span class="dot-title text-secondary">Secondary</span>
        </span>
        <span class="flex align-items-center gap-5">
            <span class="dot dot-success"></span>
            <span class="dot-title text-success">Success</span>
        </span>
        <span class="flex align-items-center gap-5">
            <span class="dot dot-info"></span>
            <span class="dot-title text-info">Info</span>
        </span>
        <span class="flex align-items-center gap-5">
            <span class="dot dot-warning"></span>
            <span class="dot-title text-warning">Warning</span>
        </span>
        <span class="flex align-items-center gap-5">
            <span class="dot dot-danger"></span>
            <span class="dot-title text-danger">Danger</span>
        </span>
    </body>
</html>
