<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Forms</title>
        <link rel="stylesheet" href="../../dist/css/beeui.all.css" />
    </head>
    <body>
        <!-- Forms -->
        <h5 class="text-bg-secondary my-20">Forms Default</h5>

        <form action="#" class="form m-auto">
            <div class="input-group">
                <label for="f_name" class="form-label">First Name</label>
                <input type="text" name="f_name" id="f_name" class="form-control" placeholder="Full Name" />
            </div>
            <div class="input-group">
                <label for="l_name" class="form-label">Last Name</label>
                <input type="text" name="l_name" id="l_name" class="form-control" placeholder="Last Name" />
            </div>
            <div class="input-group">
                <label for="email" class="form-label">Your Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Your Email" />
            </div>
            <div class="input-group">
                <label for="number" class="form-label">Number</label>
                <input type="number" name="number" id="number" class="form-control" placeholder="Number" />
            </div>
            <div class="input-group">
                <label for="textarea" class="form-label">Textarea</label>
                <textarea id="textarea" class="form-control" rows="3" placeholder="Your text Here"></textarea>
            </div>
            <input type="submit" class="btn btn-primary w-100" value="Submit" />
        </form>

        <!-- Forms -->
        <h5 class="text-bg-secondary my-20">Sign In Forms</h5>

        <form action="#" class="form m-auto">
            <div class="input-group flex align-items-center">
                <label for="email" class="form-label">Your Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Your Email" />
            </div>
            <div class="input-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
            </div>
            <div class="form-check my-10">
                <input class="checkbox checkbox-filled" id="check01" type="checkbox" />
                <label for="check01">Remember me</label>
            </div>
            <input type="submit" class="btn btn-primary w-100" value="Submit" />
        </form>
    </body>
</html>
